@import "tailwindcss";

:root {
  --background: #FCF5EB;
  --foreground: #171717;
  --color-primary: #8B9FFF;
  --color-secondary: #FCF5EB;
  --color-accent-red: #FC0A32;
  --color-accent-yellow: #FFC510;
  --color-accent-coral: #EE5454;
  --color-accent-green: #25D366;
  --color-light-white:rgba(255, 255, 255, 0.72);
}

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-yellow: var(--color-accent-yellow);
  --color-light-white:rgba(255, 255, 255, 0.72);
  --font-sans: var(--font-inter);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), var(--font-inter), Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.page-frame {
  /* min-height: 80vh; */
  display: flex;
  flex-direction: column;
  background: var(--background);
  padding: 0;
  min-height: 95vh;
}

.centered-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width:900px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.tool-panel {
  width: 100%;
  margin-top: 1.5rem;
}
